.all_links {
	stroke: #999;
	stroke-opacity: 0.7;
}
.all_nodes {
	stroke: #fff;
	stroke-width: 1.5px;
}
.domain {
	fill: none;
	stroke: #000;
	stroke-opacity: .3;
	stroke-width: 10px;
	stroke-linecap: round;
}
.halo {
	fill: none;
	stroke: #ddd;
	stroke-width: 8px;
	stroke-linecap: round;
}
.tick {
	font-size: 12px;
}
.selecting circle {
	fill-opacity: .2;
}
.selecting circle.selected {
	stroke: #f00;
}
.handle {
	fill: #fff;
	stroke: #000;
	stroke-opacity: .5;
	stroke-width: 1.25px;
	cursor: pointer;
}